<header>
    <nav class="header-nav">
      <ul>
        <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Shop</a></li>

        <li><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
      </ul>
    </nav>
  </header>