doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
    
    body
        header
            nav.header-nav
                ul
                 li 
                    a(href="/") Shop 
                 li 
                    a(href="/admin/add-product") Add-Product

        main
            form(action="/admin/add-product", method="post")
                input(type="text", name="title")#title
            
                button(type="submit") Add Product