<main>
        <form action="/admin/add-product" method="post">
            <input type="text" name="title" id="">
            
            <button type="submit">Add Product</button>
        </form>
</main>