<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/header.ejs') %>

  <main>
    <form action="/admin/add-product" method="post">
      <input type="text" name="title" id="">

      <button type="submit">Add Product</button>
    </form>
  </main>
</body>

</html>