extends layouts/main-layout.pug

block title
    title #{title}

block content
    if prods.length > 0
        each product in prods
            ul
                li #{product.title}
    else 
        h1 No Products Available
            