<main>
    {{#if hasProds}}
    <h1>My Products:</h1>

    <ul>
        {{#each prods}}
            <li>{{ this.title }}</li>
        {{/each}}
    </ul>

    {{else}}
        <h1>No Products Available.</h1>
    {{/if}}
</main>