<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

<body>
  <%- include('includes/header.ejs') %>

  <main>
    <% if(prods.length > 0) { %>
    <h1>My Products:</h1>

    <ul>
      <% prods.forEach(product => { %>
      <li><%= product.title %></li>
      <% }) %>
    </ul>

    <% } else { %>
    <h1>No Products Available.</h1>
    <% } %>
  </main>
</body>

</html>