*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.header-nav{
    padding: 5% 10%;
    background-color: goldenrod;
}

.header-nav > ul{
    display: flex;
}

.header-nav > ul >li{
    display: flex;
    margin-right: 5%;
}
